<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>###Titre###</title>
</head>
<body>

<form method="post">
    <label>Nombre</label>
    <input type="number" id="num" name="num" value="Submit">
    <button id="btn" name="btn" type="button">Calcul</button>
</form>

<script>
    let ws = new WebSocket("ws://localhost:8080/ws")

    document.getElementById("btn").addEventListener("click", (event) => {
        event.preventDefault();
        ws.send(document.getElementById("num").value);
        window.location.href ="./calcul";
    });
</script>
</body>
</html>